.*
*.o
/src/**/*.d
/src/dinit
/src/dinitctl
/src/dinitcheck
/src/shutdown
/src/tests/tests
/src/tests/proctests
/src/tests/loadtests
/src/tests/includes
/src/tests/cptests/includes
/src/tests/cptests/cptests
/src/tests/cptests/corpus
/src/tests/cptests/fuzz
/src/igr-tests/igr-runner
/mconfig

/build/includes/*.h
/build/tools/mconfig-gen

# Integration test output:
/src/igr-tests/basic/basic-ran
/src/igr-tests/environ/env-record
/src/igr-tests/ps-environ/env-record
/src/igr-tests/chain-to/recorded-output
/src/igr-tests/restart/basic-ran
/src/igr-tests/check-basic/output.txt
/src/igr-tests/check-cycle/output.txt
/src/igr-tests/check-lint/output.txt
/src/igr-tests/reload1/sd
/src/igr-tests/reload2/sd
/src/igr-tests/no-command-error/dinit-run.log

# Generated man pages:
/doc/manpages/*.5
/doc/manpages/*.8
