*.o
*.d
.*
src/dinit
src/dinitctl
src/shutdown
src/mconfig-gen
src/includes/mconfig.h
src/tests/tests
src/tests/proctests
src/tests/loadtests
src/tests/includes
src/tests/cptests/includes
src/tests/cptests/cptests
src/tests/cptests/corpus
src/tests/cptests/fuzz
